.d-block{
    filter: brightness(40%);
}


.footer > li:hover {
    color: white;
    cursor: pointer;
}

.social-menu{
    color: rgb(154, 28, 60);
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

.social-menu > li {
    margin: 0 20px;
    cursor: pointer;
}

.social-menu > li:hover {
    color: aliceblue;
}